body{
  background-color: white;
}
header{
  background-color: white;
}
main{
  background-color: white;
}
section{
  background-color: white;
}
aside{
  background-color: red;
}
article{
  background-color: pink;
}
